<a href="https://colab.research.google.com/github/tleitch/Course_AWS_Certified_Machine_Learning/blob/master/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
!pip install pyreadstat

Requirement already satisfied: pyreadstat in /usr/local/lib/python3.7/dist-packages (1.1.3)
Requirement already satisfied: pandas>0.24.0 in /usr/local/lib/python3.7/dist-packages (from pyreadstat) (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>0.24.0->pyreadstat) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>0.24.0->pyreadstat) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>0.24.0->pyreadstat) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>0.24.0->pyreadstat) (1.15.0)

In [43]:
import pandas
import pyreadstat

In [46]:
# read in data
df, meta = pyreadstat.read_sas7bdat('all_data_2021apr.sas7bdat')

# expanded 'HAI_1-HAI_6' in text from program 0, change to upper case
ix3='MORT_30_AMI MORT_30_CABG	MORT_30_COPD MORT_30_HF	MORT_30_PN	MORT_30_STK	PSI_4_SURG_COMP	COMP_HIP_KNEE HAI_1 HAI_2 HAI_3 HAI_4 HAI_5 HAI_6 PSI_90_SAFETY	EDAC_30_AMI EDAC_30_HF EDAC_30_PN OP_32 READM_30_CABG READM_30_COPD READM_30_HIP_KNEE READM_30_HOSP_WIDE OP_35_ADM OP_35_ED OP_36	H_COMP_1_STAR_RATING H_COMP_2_STAR_RATING H_COMP_3_STAR_RATING H_COMP_5_STAR_RATING H_COMP_6_STAR_RATING H_COMP_7_STAR_RATING H_GLOB_STAR_RATING H_INDI_STAR_RATING  IMM_3 OP_22	OP_23 OP_29 OP_30 OP_33 PC_01 SEP_1	OP_3b OP_18b ED_2b OP_8 OP_10 OP_13 OP_2'
ix3=ix3.upper()
ixUse=ix3.split()

In [113]:
df.head()

  PROVIDER_ID  HAI_1_DEN_VOL  HAI_2_DEN_VOL  ...  OP_35_ED_DEN  OP_36  OP_36_DEN
0      010001         7846.0        13268.0  ...         190.0    0.8      993.0
1      010005         3088.0         7928.0  ...         121.0    1.1      483.0
2      010006         5874.0        10270.0  ...           NaN    1.1      454.0
3      010007            NaN            NaN  ...           NaN    1.0       76.0
4      010008            NaN            NaN  ...           NaN    NaN        NaN

[5 rows x 99 columns]

In [111]:
# grab all columns with hospital counts>100 
dfObs100=df[df.columns.intersection(df.columns[df.notna().sum()>=100])]

In [112]:
# grab the columns that are used in star measure
dfRatingsUse=df[df.columns.intersection(ixUse)]
# grab hospitals that have non-zero count of items used to calculate start ratings
dfAllC=dfRatingsUse[dfRatingsUse.count(axis=1,numeric_only=True)>0]